body {
    background: #010001;
    margin: 0;
    padding-top: 54px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1230px;
    width: 90%;
    margin:auto;
    margin-bottom: 122px;
}

.secondary-nav .item-link {
    color: #808080;
}

.list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.item-link {
    font-size: 12px;
    line-height: 14px; 
    color: #FFFFFF;
    text-decoration: none;
}

.item:not(:last-child) {
    margin-right: 20px;
}

.main {
    text-align: center;
}
.title {
    font-size: 64px;
    line-height: 75px;
    font-weight: normal; 
    margin: 0;
    margin-bottom: 26px;
}

.description{
    font-size: 16px;
    line-height: 140%;
    font-weight: 300;
    text-transform: lowercase;
    max-width: 268px;  
    margin: auto;
}

.description::after {
    content: "";
    display: block;
    width: 1px;
    height: 60px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 26px;
    
}

.video {
    height: 750px;
    max-width: 1230px;
    width: 90%;
    margin:auto;
}

.features {
    position: relative;
    max-width: 1230px;
    width: 90%;
    margin:auto;
    padding: 100px 45px;
    
}

.features-title {
    font-size: 24px;
    line-height: 140%;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 45px;
}

td {
    font-size: 18px;
    line-height: 179.69%;
    padding-bottom: 11px;
    width: 300px;
}

.overview {
    margin-bottom: 218px;
}

.performance-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    margin: 0;
    margin-bottom: 45px;
}

.performance-descriptions {
    font-size: 16px;
    line-height: 29px;
    max-width: 490px;
}

.rocket {
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 99;
}